<?xml version="1.0" encoding="Windows-1251"?>
<form title_rus="Меню" title_eng="Menu">

<select/>
 <insert
    sql="insert into en_menu(TemplateID,PageName_rus,PageName_eng,PageName_ger,Content,Title,Name_rus,Name_eng,Name_ger,Url,Rang,Icon,Icon_width,
Parent,Target) values(@TemplateID;,@PageName_rus;,@PageName_eng;,@PageName_ger;,@Content;,@Title;,@Name_rus;,@Name_eng;,@Name_ger;,@Url;,@Rang;,@Icon;,@Icon_width;,@Parent;,@Target;)
#^writetemplate('$insertid;');"
    success_rus="Запись добавлена!"

    success_eng="Record added">

   <fields>



    <field
      name="Name_rus"
      name_rus="Название пункта"
      name_eng="Menu name"
      type="string"
      nobr="1"
      maxsize="50"
      needed="1">
    </field>
	

    <field
      name="PageName_rus"
      name_rus="Название страницы"
      name_eng="Page name"
      type="string"
      nobr="1"
      maxsize="50">
    </field>



    <field
      name="Title"
      name_rus="Тайтл"
      name_eng="Title"
      type="string"
      maxsize="20">
    </field>

    <field
      name="Rang"
     type="hidden">
    </field>

    <field
      name="Icon"
      name_rus="Иконка"
      name_eng="Icon"
      type="string"
      maxsize="50">
    </field>

    <field
      name="Icon_width"
      name_rus="Ширина иконки"
      name_eng="Icon width"
      type="numeric">
    </field>

    <field
      name="Parent"
      name_rus="Класс"
      name_eng="Class"
      type="sqlist"
      sql="select m.MenuID,concat_ws(' -> ',m2.Name_$lang;,m.Name_$lang;) from en_menu m left outer join en_menu m2 on m.Parent=m2.MenuID order by m2.Name_$lang;">
    </field>



    <field
      name="TemplateID"
      name_rus="Шаблон"
      name_eng="Template"
      type="sqlist"
      sql="select TemplateID,Name_$lang; from en_templates order by Name_$lang;">
    </field>


    <field
      name="Content"
      name_rus="Содержание"
      name_eng="Content"
      type="editor">
    </field>

    <field
      name="Url"
      name_rus="Url"
      name_eng="Url"
      type="string"
      maxsize="150">
    </field>

    <field
      name="Target"
      name_rus="Target"
      name_eng="Target"
      type="string"
      maxsize="10">
    </field>


   </fields>

   <button
       name_rus="Добавить запись"
       name_eng="Add record">
   </button> 

 </insert>

 <update width="100%"
    sql="update en_menu set 
PageName_rus=@PageName_rus;,
PageName_eng=@PageName_eng;,
PageName_ger=@PageName_ger;,
TemplateID=@TemplateID;,
Content=@Content;,Target=@Target;,Title=@Title;,Icon_width=@Icon_width;,Icon=@Icon;,Rang=@Rang;,Url=@Url;,Name_rus=@Name_rus;,Name_eng=@Name_eng;,Name_ger=@Name_ger;,Parent=@Parent; where MenuID=@id;
#^writetemplate('$id;');"
    select="select * from en_menu where MenuID=@id;"
    success_rus="Запись изменена!"
    success_eng="Record changed"
    error_eng="Record not found"
    error_rus="Запись не найдена">

   <fields>



    <field
      name="Name_rus"
      name_rus="Название пункта"
      name_eng="Menu name"
      type="string"
      nobr="1"
      maxsize="50"
      needed="1">
    </field>
	

    <field
      name="PageName_rus"
      name_rus="Название страницы"
      name_eng="Page name"
      type="string"
      nobr="1"
      maxsize="50">
    </field>



    <field
      name="Title"
      name_rus="Тайтл"
      name_eng="Title"
      type="string"
      maxsize="20">
    </field>

    <field
      name="Rang"
     type="hidden">
    </field>

    <field
      name="Icon"
      name_rus="Иконка"
      name_eng="Icon"
      type="string"
      maxsize="50">
    </field>

    <field
      name="Icon_width"
      name_rus="Ширина иконки"
      name_eng="Icon width"
      type="numeric">
    </field>

    <field
      name="Parent"
      name_rus="Класс"
      name_eng="Class"
      type="sqlist"
      sql="select m.MenuID,concat_ws(' -> ',m2.Name_$lang;,m.Name_$lang;) from en_menu m left outer join en_menu m2 on m.Parent=m2.MenuID order by m2.Name_$lang;">
    </field>


    <field
      name="TemplateID"
      name_rus="Шаблон"
      name_eng="Template"
      type="sqlist"
      sql="select TemplateID,Name_$lang; from en_templates order by Name_$lang;">
    </field>



    <field
      name="Content"
      name_rus="Содержание"
      name_eng="Content"
      type="editor">
    </field>

    <field
      name="Url"
      name_rus="Url"
      name_eng="Url"
      type="string"
      maxsize="150">
    </field>

    <field
      name="Target"
      name_rus="Target"
      name_eng="Target"
      type="string"
      maxsize="10">
    </field>


   </fields>

   <button
       name_rus="Изменить запись"
       name_eng="Change record">
   </button> 


 </update>

 <delete
    sql="delete from en_menu where MenuID=@id;"
    redirect="/admin/"
    success_rus="Запись удалена"
    success_eng="Record deleted">
 </delete>

 <up
    sql="set @up=(select m2.MenuID from en_menu m1, en_menu m2 where m1.MenuID='$id;' and m1.Parent=m2.Parent and m2.Rang&lt;=m1.Rang and m2.MenuID&lt;>'$id;' order by m2.Rang desc,m2.Name_$lang; desc limit 0,1)
#set @rang2=(select Rang from en_menu where MenuID=@up)
#set @rang1=(select Rang from en_menu where MenuID='$id;')
#set @rang1=if(@rang1=@rang2,@rang1+1,@rang1)
#update en_menu set Rang=@rang2 where MenuID='$id;'
#update en_menu set Rang=@rang1 where MenuID=@up
"
    success_rus="Дерево изменено"
    redirect="/admin/"
    success_eng="Tree updated">
 </up>


 <down
    sql="set @up=(select m2.MenuID from en_menu m1, en_menu m2 where m1.MenuID='$id;' and m1.Parent=m2.Parent and m2.Rang>=m1.Rang and m2.MenuID&lt;>'$id;' order by m2.Rang asc,m2.Name_$lang; asc limit 0,1)
#set @rang2=(select Rang from en_menu where MenuID=@up)
#set @rang1=(select Rang from en_menu where MenuID='$id;')
#set @rang2=if(@rang1=@rang2,@rang2+1,@rang2)
#update en_menu set Rang=@rang2 where MenuID='$id;'
#update en_menu set Rang=@rang1 where MenuID=@up
"
    redirect="/admin/"
    success_rus="Дерево изменено"
    success_eng="Tree updated">
 </down>




 <translate sql="select * from lk_messages where MessageID in (^getmessages('$id;');)" pagecount="100"
action="update lk_xml set rus=@rus;,eng=@eng;,ger=@ger; where MessageID=@MessageID;">
  <header>

     <item
      name="MessageID"
      name_rus="N"
      name_eng="N">
    </item> 

     <item
      name="TextID"
      type="hidden">
    </item> 

     <item
      name="Act"
      name_rus="Act"
      name_eng="Act"
      name_ger="Act">
    </item> 

    <item
      name="rus"
      name_rus="рус"
      name_eng="rus"
      name_ger="rus" type="string">
    </item> 

    <item
      name="eng"
      name_rus="анг"
      name_eng="eng"
      name_ger="eng" type="string">
    </item>

    <item
      name="ger"
      name_rus="нем"
      name_eng="ger"
      name_ger="ger" type="string">
    </item>


   </header>

   <button
       name_rus="Изменить"
       name_eng="Change"
       name_por="">
   </button> 

 </translate>


</form>