<?xml version="1.0" encoding="Windows-1251"?>
<menu>
   <toolbar width="100%" align="center"
height="30px"
    border="0"
    rowcolor=""
    hcolor=""
    bgcolor="f3f3f3"

    cellspacing="1"
    cellpadding="3">

     <item
       name="?type=media/news"
       caption_eng="Site"
       caption_rus="Сайт">
     </item>

     <item
       name="?type=data/product_types"
       caption_eng="Data"
       caption_rus="Данные">
     </item>

     <item
       name="?type=engine/menu"
       caption_eng="Engine"
       caption_rus="Движок">
     </item>

  </toolbar>


</menu>